/aopalliance-1.0.jar
/aspectjrt-1.5.3.jar
/aspectjrt-1.8.9.jar
/aspectjweaver-1.8.9.jar
/commons-logging-1.2.jar
/hsqldb.jar
/jstl-1.2.jar
/log4j-1.2.14.jar
/mail-1.4.jar
/ojdbc6.jar
/spring-aop-4.3.0.RELEASE.jar
/spring-aspects-4.3.0.RELEASE.jar
/spring-beans-4.3.0.RELEASE.jar
/mysql-connector-java-5.1.38.jar
/spring-context-4.3.0.RELEASE.jar
/spring-context-support-4.3.0.RELEASE.jar
/spring-core-4.3.0.RELEASE.jar
/spring-expression-4.3.0.RELEASE.jar
/spring-instrument-4.3.0.RELEASE.jar
/spring-instrument-tomcat-4.3.0.RELEASE.jar
/spring-jdbc-4.3.0.RELEASE.jar
/spring-jms-4.3.0.RELEASE.jar
/spring-messaging-4.3.0.RELEASE.jar
/spring-orm-4.3.0.RELEASE.jar
/spring-oxm-4.3.0.RELEASE.jar
/spring-test-4.3.0.RELEASE.jar
/spring-tx-4.3.0.RELEASE.jar
/spring-web-4.3.0.RELEASE.jar
/spring-webmvc-4.3.0.RELEASE.jar
/spring-webmvc-portlet-4.3.0.RELEASE.jar
/spring-websocket-4.3.0.RELEASE.jar
